@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

h2{
    background: url(../img/zen.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
p{
    font-family: 'Libre Baskerville', serif;
}
header{
    background: url(/img/koi.jpg);
    background-image: url(/img/huntington.png);
    padding: 50px;
    background-size: 90%;
}

h1{
    text-align: center;
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-shadow: 2px 2px 2px;
}
h2{
    text-align: center;
    color: white;
    font-family: 'Courgette', cursive;
    text-decoration: 1px 1px 1px black;
}
