@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

h2{
    background: url(../img/zen.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

p{
    font-family: 'Libre Baskerville', serif;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

header{
    background: url(/img/koi.jpg);
    background-image: url(/img/huntington.png);
    padding: 50px;
    background-size: 90%;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;
    font-family: 'Julius Sans One', sans-serif;
    padding: 0px 40px 5px;

}
h2{
    text-align: center;
    color: white;
    font-family: 'Satisfy', cursive;
}

.summary a{
    text-decoration: none;
    color: black;
}

abbr{
    text-decoration: none !important;
    border-bottom: 0px !important
}

div.participation{
    background-image: url(/img/bamboo.png);
    background-color: rgba(138, 188,159, 0.5);
}

div.benefits{
    background-image: url(/img/bamboo.png);
    background-color: rgba(138, 188,159, 0.5);
}


[role="contentinfo"]{
        background-color: rgba(138, 188,159, 0.5);
        padding: 60px;
        font-family: 'Satisfy', cursive;
        font-size: 30px;
        margin: auto;
}

footer{
    background-color: darkgreen;
    padding: 80px;
    height: 30px;
    text-align: center;
    display: block;
}

.fab{
    color: black;
    width: 50px;
    display: block;
}

*{
    box-sizing: border-box;
    padding: 3px 
}

body{
    width: 100%;
    height: 100%;
}

nav{
    background-color:white
}

h3{
    font-family: 'Julius Sans One', sans-serif;
}

[role="navigation"]{
    column-count: 2;
    background-color: #C6DED0;
    font-family: 'Julius Sans One', sans-serif;
}

div{
    padding: 1%;
}

.requirements{
    padding: 0px;
}

.design-selection{
    background-color: #C6DED0;
}

.main{
    padding: 0px;
}

.design-selection li{
    float: left;
    padding: 1.5em 10%;
    width: 100%;
    border-top: solid 1px;
    color: #c0cac3;
    font-style: italic;
}

div.wrapper{
    padding: 0px;
}

.sidebar{
    padding: 0px;
}

div.design-archives{
    padding: 0px;
}

.fab{
    color: white;
    height: 10cm;
}

h3.archives{
    padding: 0%;
    background-color: #C6DED0;
    margin: 0%;
}

.fa-html5:before{
    font-size: 70px;
}

.fa-css3:before{
    font-size: 70px;
}

.fa-creative-commons:before{
    font-size: 70px;
}

.fa-accessible-icon:before{
    font-size: 70px;
}

.fa-github:before{
    font-size: 70px;
}

.zen-resources{
    float: left;
    padding: 1.5em 10%;
    width: 100%;
    background-color: #C6DED0;
    font-style: italic;
}